<!DOCTYPE html>
<html class="no-js">
  {{> headTag}}
<body>
  <header>
    {{> headerTag}}
  </header>
  <section>
    <p>XOXO :) you know</p>
  </section>
  <footer>
    {{> footerTag}}
  </footer>
</body>
</html>
